<h2>About Me</h2>
<p>I’m Keamogetsoe , a software developer who loves building AI, mobile and web experiences. I graduated from Rosebank College with a diploma in Software Development and I'm passionate about real-world solutions using AI and cloud platforms.</p>
