@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
    <h1>Hi, I'm Keamogetsoe Kgomotso Nicole Sele</h1>
    <p>Software Developer | AI Enthusiast | Mobile App Builder</p>
    <a href="/Home/Projects" class="btn btn-primary">View My Projects</a>
</div>
